@import "~scss/variables";

.swag-language-pack-entry {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 16px;
    padding: 16px;
    margin: 16px 0;
    border: 1px solid $color-gray-300;
    border-radius: $border-radius-default;

    &__name {
        font-weight: $font-weight-semi-bold;
    }

    &__description {
        font-size: $font-size-xxs;
        color: $color-gray-500;
    }

    .sw-field--switch {
        margin: 0;

        .sw-field--switch__input {
            padding: 8px 0;
        }

        .sw-field__switch-state {
            top: 0;
            left: 0;
        }
    }
}
