src/Resources/app/storefront/dist/storefront/js/*
src/Resources/public/administration/js/*
src/Resources/public/storefront/vendors/*
src/Resources/app/administration/test/*
src/Resources/app/storefront/test/*
coverage/
