.idea/
coverage/
.phpunit.result.cache
vendor/
var/
phpstan.neon
phpstan-report.json
composer.lock

node_modules
/src/Resources/app/storefront/test/e2e/cypress/results/
/src/Resources/app/storefront/test/app/

/src/Resources/app/administration/test/e2e/cypress/results/
/src/Resources/app/administration/test/app/
/src/Resources/public/
