parameters:
    ignoreErrors:
        -
            message: '#Service ".*" is private#'
            paths:
                - tests/*Test.php

        -
            message: '#(Used )?[Ff]unction Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found#'
            paths:
                - src/Resources/config/*.php

