parameters:
    ignoreErrors:
        -
            message: '#Service ".*" is private#'
            paths:
                - tests/*Test.php

        -
            message: '#(Used )?[Ff]unction Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found#'
            paths:
                - src/Resources/config/*.php

        -
            message: '#^Call to deprecated method addFlags\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\Field\\Field\:\ntag\:v6\.8\.0 \- reason\:return\-type\-change \- Will return static natively$#'
            identifier: method.deprecated
            paths:
                - src/PackLanguage/PackLanguageDefinition.php
                - src/Extension/LanguageExtension.php
                - tests/Extension/LanguageExtensionTest.php
