parameters:
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    symfony:
        constant_hassers: false
        container_xml_path: '../../../var/cache/dev_he50ccaeece968900d3ed9e299f5e81a2/Shopware_Development_KernelDevDebugContainer.xml'
    excludes_analyse:
        - tests/TestBootstrap.php
