includes:
    - ../../../src/Core/DevOps/StaticAnalyze/PHPStan/common.neon

parameters:
    tmpDir: var/cache/phpstan

    bootstrapFiles:
        - ../../../src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
        # run `php tests/TestBootstrap.php` to create the container
    symfony:
        constantHassers: false
        containerXmlPath: '../../../var/cache/static_phpstan_dev/Shopware_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: ../../../src/Core/DevOps/StaticAnalyze/console-application.php
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Service ".*" is private#'
            paths:
                - tests/*Test.php
