includes:
    - ../../../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8
    tmpDir: var/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true

    bootstrapFiles:
        - ../../../src/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
        # run `php tests/TestBootstrap.php` to create the container
    symfony:
        constantHassers: false
        containerXmlPath: '../../../var/cache/phpstan_dev/Shopware_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: ../../../src/Core/DevOps/StaticAnalyze/console-application.php
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Service ".*" is private#'
            paths:
                - tests/*Test.php

        -
            message: '#has typehint with deprecated class Shopware\\Core\\Maintenance\\SalesChannel\\Service\\SalesChannelCreator#'

        -
            message: '#Fetching class constant class of deprecated class Shopware\\Core\\Maintenance\\SalesChannel\\Service\\SalesChannelCreator#'
