@import "~scss/variables";

.swag-language-pack-entry__flag {
    display: inline-block;
    width: 34px;
    height: 24px;

    & > svg {
        border: 1px solid $color-gray-500;
        border-radius: 4px;
    }
}
