name: Prepare Release
on:
  workflow_dispatch:
  schedule:
    # Every Friday at 06:15 AM UTC
    - cron: "15 6 * * 5"

permissions:
  actions: write
  contents: read
  id-token: write

jobs:
  prepare_release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        RELEASE_BRANCH: ${{ fromJSON(vars.RELEASE_BRANCHES) }}
    steps:
      - uses: shopware/octo-sts-action@main
        id: octo-sts
        with:
          scope: shopware/SwagLanguagePack
          identity: prepare_release
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.RELEASE_BRANCH }}
          token: ${{ steps.octo-sts.outputs.token }}
          fetch-depth: 0
      - name: Check for changes
        shell: bash
        id: check-changes
        run: |
          if [[ -z $(git diff HEAD $(git describe --tags $(git rev-list --tags --max-count=1)) -- src/ :^src/Resources/public) ]]; then
            echo "No changes detected"
            echo "no_changes=1" >> "$GITHUB_OUTPUT"
          fi
      - name: Increase version
        shell: bash
        if: ${{ ! steps.check-changes.outputs.no_changes }}
        run: |
          version=$(jq -r '.version' composer.json)
          regex="([0-9]+).([0-9]+).([0-9]+)"
          if [[ $version =~ $regex ]]; then
            major="${BASH_REMATCH[1]}"
            minor="${BASH_REMATCH[2]}"
          fi
          new_version="${major}.$((minor+1)).0"
          jq --arg version "$new_version" --indent 4 '.version = $version' composer.json > composer.json.tmp
          mv composer.json.tmp composer.json
          composer validate
          echo "Old version: ${version}"
          echo "New version: $(jq -r '.version' composer.json)"
      - name: Push new version
        if: ${{ ! steps.check-changes.outputs.no_changes }}
        shell: bash
        run: |
          git config user.name shopwareBot
          git config user.email development@shopware.com
          git add .
          git commit -m "Prepare release $(jq -r '.version' composer.json)"
          git push
      - name: Trigger store-release on RELEASE_BRANCH
        if: ${{ ! steps.check-changes.outputs.no_changes }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh workflow run store-release.yml -r ${{ matrix.RELEASE_BRANCH }}
