name: Translations
on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

permissions:
  contents: read
  id-token: write

jobs:
  update_translations:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        RELEASE_BRANCH: ${{ fromJSON(vars.RELEASE_BRANCHES) }}
    steps:
      - name: Check if RELEASE_SHOPWARE_BRANCHES is set
        if: ${{ vars.RELEASE_SHOPWARE_BRANCHES == '' }}
        run: |
          echo "The repository variable RELEASE_SHOPWARE_BRANCHES is not set!"
          exit 1

      - name: Get Shopware branch
        id: shopware-branch
        env:
          RELEASE_SHOPWARE_BRANCHES: ${{ vars.RELEASE_SHOPWARE_BRANCHES }}
        run: |
          echo "branch=$(jq -r '.["${{ matrix.RELEASE_BRANCH }}"]' <<<"${RELEASE_SHOPWARE_BRANCHES}")" >> "$GITHUB_OUTPUT"

      - name: Setup Shopware
        uses: shopware/setup-shopware@main
        with:
          shopware-version: ${{ steps.shopware-branch.outputs.branch }}

      - uses: shopware/octo-sts-action@main
        id: octo-sts
        with:
          scope: shopware/SwagLanguagePack
          identity: translations

      - name: Clone Extension
        uses: actions/checkout@v4
        with:
          path: custom/plugins/${{ github.event.repository.name }}
          token: ${{ steps.octo-sts.outputs.token }}
          ref: ${{ matrix.RELEASE_BRANCH }}

      - name: Install extension with Composer
        run: composer require $(composer -d custom/plugins/${{ github.event.repository.name }} config name)

      - name: Download translations
        working-directory: custom/plugins/${{ github.event.repository.name }}
        run: ./bin/download-translations.sh

      - name: Push translations
        working-directory: custom/plugins/${{ github.event.repository.name }}
        run: |
          if [[ -z $(git status -s) ]]; then
            echo "No changes detected"
            exit 0
          fi
          git config user.name shopwareBot
          git config user.email development@shopware.com
          git add ./src
          git commit -m "Update translations $(date +%Y-%m-%d)"
          git push
